<!-- 
 <div class="job">
    <p>תאור: {{ jobData?.jobField }}</p>
    <p>תאור: {{ jobData?.scopeOfHours }}</p>
    <br>
    <button (click)="showDetails()">להצגת פרטי המשרה:</button>
    <div *ngIf="showJobDetails">
        <p>תפקיד: {{ jobData?.jobField }}</p>
        <p>כותרת: {{ jobData?.jojbTitle }}</p>
        <p>תיאור שעות: {{ jobData?.scopeOfHours }}</p>
        <p>אזור: {{ jobData?.area }}</p>
        <p>דרישות: {{ jobData?.requirements }}</p>
        <p>עבודה מהבית: {{ jobData?.workFromHome }}</p>
    </div>
    <br>
    <input type="file" (change)="onFileSelected($event)">
    <span>{{ uploadedFiles }}</span> 
    <button (click)="openPopUp()">הצג קורות חיים שנשלחו</button>
</div>

 -->

 <div class="job">
    <p>תאור: {{ jobData?.jobField }}</p>
    <p>תיאור שעות: {{ jobData?.scopeOfHours }}</p>
    <br>
    <button (click)="showDetails()">להצגת פרטי המשרה:</button>
    <div *ngIf="showJobDetails">
        <p>תפקיד: {{ jobData?.jobField }}</p>
        <p>כותרת: {{ jobData?.jojbTitle }}</p>
        <p>תיאור שעות: {{ jobData?.scopeOfHours }}</p>
        <p>אזור: {{ jobData?.area }}</p>
        <p>דרישות: {{ jobData?.requirements }}</p>
        <p>עבודה מהבית: {{ jobData?.workFromHome }}</p>
        <button (click)="openPopUp()">הצג קורות חיים שנשלחו</button>
    </div>
    <br>
    <input type="file" (change)="onFileSelected($event)">
    <span>{{ uploadedFiles }}</span> 
    
</div>
