<p>jobs works!</p>
<!-- <button (click)="changeSort()">{{sortOrder === 1? "^" : "v"}}</button> -->
<!-- <app-filter></app-filter> -->
<!-- <span>כמות קו"ח שנשלחו:{{userResume}} </span> -->
<br>
<span>תחום המשרה</span>
<app-single-job 
  *ngFor="let job of listJobs" 
  [jobData]="job" 
 >
 <!-- (resume)="updateResume($event)" -->
</app-single-job>
<div>המשרות ששלחת קוקות חיים</div>
<div>
    <div *ngFor="let c of listSearchResume let i = index">
        
            <p>{{ i }}</p> 
            <!-- <p>"sssss"</p> -->
           <p>{{ c}}</p>


   </div>
    {{listSearchResume}}
</div> 
<div style="display: flex;">
<app-filter (filterChanged)="changeFilter($event)"></app-filter>
</div>
<div class="list-jobs">
    <div *ngFor="let c of listJobs let i = index">
        <div class="job">
            <p>{{ i }}</p>
            <p>{{c }}</p>
            <!-- <app-single-job [jobData]="c"  (addJob)="addJobTOlist($event)"></app-single-job> -->
            <!-- (resume)="updateResume($event)" -->
        </div>
    <!-- </div>{{listJobs}}ליסט -->
    <!-- <button (click)="filterByField('תחום')">סנן לפי תחום</button> -->
  <!-- כפתור לסינון לפי אזור משרה -->
  <!-- <button (click)="filterByField('אזור')">סנן לפי אזור</button> -->
</div>
<br>