.logo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: #ffffff;
    background-color: #000000;
    padding: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  .ple {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
  }
  
  .esti {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    background-color: #cccccc;
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
  }
  
  .esti {
    transform: skewX(-10deg);
  }
  
  .logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-color: #ffcc00;
    transform: rotate(-45deg);
    
  }

  .logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #ffffff;
  background-color: #000000;
  padding: 1rem;
}

.logo2::before {

  font-weight: bold;
}

.logo2::after {
  font-weight: bold;
}
.symbol2 {
  font-size: 4rem;
  font-weight: bold;
  margin-right: 0.5rem;
  transform: rotate(-5deg);
}
.name2 {
    font-size: 1.5rem;
    font-weight: bold;
    transform: rotate(-5deg);
    margin-right: 0.2rem;
  }
  .pleasures2 {
    font-weight: bold;
    margin-left: 1rem;
  }


  .logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    color: #ffffff;
    background-color: #000000;
    padding: 1rem;
    position: relative;
    overflow: hidden;
  }

  .logo1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, transparent 40%, rgba(255, 165, 0, 0.5) 70%);
    z-index: -1;
  }

  .logo1::after {
    font-weight: bold;
  }

  .symbol {
    font-size: 4rem;
    font-weight: bold;
    margin-right: 0.5rem;
    transform: rotate(-5deg);
  }

  .name {
    font-size: 1.5rem;
    font-weight: bold;
    transform: rotate(-5deg);
    margin-right: 0.2rem;
  }

  .pleasures {
    font-weight: bold;
    margin-left: 1rem;
  }