<p>maain works!</p>
<div class="header">
  <span>{{ username }}</span>
  <div class="user-info">
    <span>כמות קו"ח שנשלחו:{{userResume}} </span>
    <span>תחום המשרה</span>

    <!-- <a [routerLink]="'login'">login</a> -->
    <a routerLink="/login">התחברות</a>

    <input type="text" id="jobSearch">
    <a [routerLink]="'jobs'" [queryParams]="{ resumeCount: userResume }">סינון</a>


  </div>


  <div class="footer">

    <div class="contact-info">
      <p>פרטי יצירת קשר עם מנהל האתר:</p>
      <p>טלפון: 123-456-7890</p>
      <!-- <p>אימייל: admin@example.com</p> -->
    </div>
 <!-- הכפתור להעלאת קבצים -->
 <input type="file" (change)="onFileSelected($event)">
 <span>{{ uploadedFiles }}</span>
  </div>

